<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body>
    <%-include('../partials/header.ejs')%>

    <% products.forEach(function(product){ %> 
        <div class="bg-green">
            <a href="/products/<%= product.id %>">
            <img src="/images/products/<%= product.image %> " alt="" class="bg-red">
            <p class="price"><%=product.title  %> </p>
            <p class="price">$<%= product.price %> </p>
    
        </a>
        </div>
    <% }) %>


    <%-include('../partials/footer.ejs')%>
    
</body>
</html>