<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body>
    <%-include('../partials/header.ejs')%>
    <section>
        <div>
            <form action="/auth/login" method="POST" id='login-form'>
                <h1 class="title-font space center">Ingresa tus datos para iniciar sesión</h2>
                <div class="center space">
                    <label class="rob-14">
                        
                        <input  name="email" type="email" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Correo Electrónico">
                    </label>
                </div>
                <% if (errors.email != undefined){ %>
                    <div class="center space"><%= errors.email.msg  %> </div>
                    <% }%>
                <div class="center space"> 
                    <label class="rob-14">
                        <input  name="password" type="password" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Contraseña">
                    </label>
                </div>
                <% if (errors.password != undefined){ %>
                    <div class="center space"><%= errors.password.msg  %> </div>
                    <% }%>
                <div class="center space">
                    <label for="remember" class="center space">Recordame</label>
                    <input type="checkbox" name="remember" id="remember" class="center space">
                </div>
                <div  class="center space">
                    <button type="submit" class=" button-send">Ingresar</button>
                </div>
                

            </form>
        
        </div>
        
        <div class="center space">¿Aún no tenés cuenta?<a href="/auth/register">Registrate</a></div>
    </section>
    <script src= "/public/javacripts/loginValidator.js"></script>

    <%-include('../partials/footer.ejs')%>


</body>
</html>
