<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
<body class="body">
    
  <%-include('./partials/header.ejs')%>


  <main>
  <div class="carrousel carrousel-img"><!--carrousel-->
    <img src="images/banner-1.jpg" alt="banner" class="carrousel-img">

  </div>
    <section class="pago-section">
      <div class="fop">
          <a href = '/'><i class="fas fa-dolly"></i>Envíos a todo el país</a>
          <a href = '/'><i class="far fa-handshake borde"></i>MercadoPago</a>
          <a href = '/'><i class="fas fa-credit-card footer-images borde"></i>Promociones con Tarjetas</a>
      </div>
  </section>


  <div class="ofertas margin-top">
    <p class="title-banner titles">Ofertas</p>
  
    <div class=" d-flex cont"> 
    
      <% products.forEach(function(product){ %>
        <% if(product.id >= 1 && product.id <= 3 ){ %>
        <div class="banner-fonts">
          <a href="/products/detail/<%= product.id %>">
              <img src="./images/products/<%= product.image  %> " alt="<%= product.title %>"class="resize_fit">
              <p class="price"><%= product.title %></p>
              <p class="price">$<%= product.price %></p>
          </a>
        </div>
      <% }%>
      <% })   %>    
      </div>
  

  </div> 
  



  </div> 
  <div class="news margin-top input"><!--newsletter-->

    <form action="" class="d-flex">
       
        <div class="container-news item-mail input">
          
          <input type="text" placeholder="Newsletter" name="email" required class="news-bar input">
          
        </div>
      
        <div class="input">
            <input type="submit" value="Enviar" class="input"></input>
            
        </div>
      </form>



</div> 
   

</main>
<%-include('./partials/footer.ejs')%>
</body>
</html>