<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 

    <title>index</title>
</head>
<body class="body">
    
  <%-include('./partials/header.ejs')%>


  <main>
  <div class="carrousel carrousel-img"><!--carrousel-->
    <img src="images/banner-1.jpg" alt="banner" class="carrousel-img">

  </div>
    <section class="pago-section">
      <div class="fop">
          <a href = '/'><i class="fas fa-dolly"></i>Envíos a todo el país</a>
          <a href = '/'><i class="far fa-handshake borde"></i>MercadoPago</a>
          <a href = '/'><i class="fas fa-credit-card footer-images borde"></i>Promociones con Tarjetas</a>
      </div>
  </section>


  <div class="ofertas margin-top">
    <p class="title-banner titles">Ofertas</p>
  
    <div class=" d-flex cont"> 
    
      <% products.forEach(function(product){ %>
        <% if(product.category == 'oferta'){ %>
        <div class="banner-fonts">
          <a href="/products/<%= product.id %>">
              <img src="./images/products/<%= product.image %>" alt="<%= product.name %>"class="resize_fit">
              <p class="price"><%= product.name %></p>
              <p class="price">$<%= product.price %></p>
          </a>
        </div>
      <% }%>
      <% })%>    
      </div>
  

  </div> 
  



  </div> 
  <div class="news margin-top input"><!--newsletter-->

    <form action="" class="d-flex">
       
        <div class="container-news item-mail input">
          
          <input type="text" placeholder="Newsletter" name="mail" required class="news-bar input">
          
        </div>
      
        <div class="input">
            <input type="submit" value="Enviar" class="input"></input>
            
        </div>
      </form>



</div> 
   

</main>
<%-include('./partials/footer.ejs')%>
</body>
</html>