
<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>

<%-include('./partials/header.ejs')%>

<div class=>
    <h2 class="products-title">Resultados de la búsqueda: </h2>
</div>
    
        <div class="flex-d">
           
            <% if(resultado){ %> 
            <% resultado.forEach(function(product){ %> 
                <div class="bg-green">
                    <a href="/products/detail/<%= product.id %>">
                    <img src="/images/products/<%= product.image %> " alt="<%= product.title %>" class="bg-red">
                    <p class="price"><%=product.title  %> </p>
                    <p class="price">$<%= product.price %> </p>
            
                </a>
                </div>
            <% })}else{ %> 
            
            <div class="">
                <p class="" style="color: tomato;">No hay productos que coincidan con esa búsqueda</p>
            </div>
        <% } %> 
        </div>
    

    <%-include('./partials/footer.ejs')%>
    
</body>
</html>