
<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>

<%-include('./partials/header.ejs')%>

    <div class="">
        <div class="">
            <div class="">
                <h2 class="products-title">Resultados de la búsqueda: </h2>
            </div>
            <% if(resultado!= 0){ %> 
            <% resultado.forEach(function(product){ %> 
                <div class="">
                    <section class="">
                        <a href="/products/detail/<%=product.id%>">
                            <figure class="">
                                <img src="/images/products/<%=product.image%>" alt="imagen de producto">
                            </figure>
                            <article class="">
                                <h2>$<%= product.price - (product.price*(product.discount/100))%></h2>
                                <span><%=product.discount%>% OFF</span>
                                <p><%= product.name %></p>
                                
                            </article>
                        </a>
                    </section>
                
                </div>
            <% })}else{ %> 
            
            <div class="">
                <p class="" style="color: tomato;">No hay productos que coincidan con esa búsqueda</p>
            </div>
        <% } %> 
        </div>
    </div>

    <%-include('./partials/footer.ejs')%>
    
</body>
</html>