<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/products/productAdd.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body class="body">
    <%-include('../partials/header.ejs')%>

    <main>

<h1 class="title-font space center">Editá tu Producto</h1>
<!--nombre del producto-->        
<form action="/products/edit/<%= resultado.id %>?_method=PUT" method="POST">
     <div class="center space"> 
        <label for="name" class="rob-14"></label>
        <input type="text" name="name" id="name" value="<%= resultado.name %>"  class="nombre-prod nombre-size  wdth-bar padding-text">
     </div>  
<!-- / nombre del producto-->

<!--descripcion-->
    <div class="center space"> 
        <label for="description" class="form-label"></label>
        <textarea name="description"  id="description" rows="10" cols="80"  ><%= resultado.description %></textarea>
    </div> 
<!--/descripcion-->

<!--categoria-->
    <div class="center space rob-18"> 
        <label for="category">Categoría</label>
    <div class="center space">
        <select name="category">
            <option value="AyB">Alimentos y Bebidas</option>
            <option value="Ind">Indumentaria</option>
            <option value="Hog">Hogar</option>
            <option value="Ser">Servicios</option>
        </select>
    </div>
</div>  
    <!--/categoria-->
      <!--talles-->
      <div class="center space rob-18">Talles</div>
      
      <div class="center">
        <div class= "space">
        <label for="size" class="">XS</label>
        <input type="checkbox" name="size" value="XS" class="box-margin">
        <label for="size" class="">S</label>
        <input type="checkbox" name="size" value="S" class="box-margin">
        <label for="size" class="">M</label>
        <input type="checkbox" name="size" value="M" class="box-margin">
        <label for="size"class="">L</label>
        <input type="checkbox" name="size" value="L" class="box-margin">
        <label for="size" class="">XL</label>
        <input type="checkbox" name="size" value="XL" class="box-margin">
        <label for="size" class="">XXL</label>
        <input type="checkbox" name="size" value="XXL" class="box-margin">
    </div>

    <!--/talles-->
<!--precio del producto-->
    <div class="center space"> 
        <label for="price"></label>
        <input type="text" name="price" id="price" value="<%= resultado.price %>"  class="nombre-size">
    </div>  
    <!--/ precio del producto-->
    
    <!--carga de imagenes-->

        <div class ="center space rob-18"> <label for="image">Fotos del Producto </label> </div>
        <div class="center space"><input type="file" name="image" class=""></div>
   
    <!--/ carga imagenes-->

    <!--boton enviar-->
    <button type="submit" class="button-send">Guardar</button>
   
    <!--fin boton enviar-->



</form>
  
        
         
      
    </main>
    
</body>
</html>
