<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body class="body">
    <%-include('../partials/header.ejs')%>

    <main>

        <h1 class="title-font space center">Editá tu Producto</h1>
        
        <!--nombre del producto-->        
        
        
        <form action="/products/<%= resultado.id %>?_method=PATCH" method="POST" id= "product-form">
             <div class="center space"> 
                <label for="title" class="rob-14">Nombre del Producto</label>
                <input type="text" name="title" id="title"  class="nombre-prod nombre-size wdth-bar padding-text" value="<%=resultado.title %>" >
             </div>  
             
        
            <!-- / nombre del producto-->
        
            <!--descripcion-->
        
            <div class="center space"> 
                <label for="description">Descripción:</label>
                
                <textarea name="description" id="description" type ="text"><%= resultado.description %></textarea>
            </div > 
        
        
              <!--talles-->
            <div class = "center space rob-18"> 
                <label for="size">Talle</label>
            
                <%- include('../select.ejs',{
                name: 'size',
                options:[ 
                {value : "xs", text : "XS"},
                {value : "s", text : "S"},
                {value : "m", text : "M"},
                {value : "l", text : "L"},
                {value : "xl", text : "XL"},
                {value : "xxl", text : "XXL"}]
                }) %> 
            </div>
            </div>  
        
        
            <!--/talles-->
           
            <!--precio del producto-->
            <div class="center space"> 
                <label for="price">Precio:</label>
                <input type="text" name="price" id="price" placeholder="Precio" class="nombre-size" value="<%= resultado.price %>">
            </div> 
            
        
            <!--/ precio del producto-->
        
            <!--Stock-->
            <div class="center space"> 
                <label for="stock">Stock</label>
                <input type="text" name="stock" id="stock" class="nombre-size" value="<%= resultado.stock %>">
            </div> 
            
                <!--/Stock-->
            
           
          
            <!--carga de imagenes-->
        
               <!-- <div class ="center space rob-18"><label for="foto"> Fotos del Producto </label></div>
                <div class="center space"><input type="file" name="foto" class=""></div>
           -->
            <!--/ carga imagenes-->
        
        
        
            <!--boton enviar-->
            <div  class="center space">
                <button type="submit" class=" button-send">Guardar</button>
            </div>
            <!--fin boton enviar-->
            
        
        
        </form>
          
                
                 
              
    </main>
    
    <script src="/javacripts/productsValidator.js">

    </script>
   
</body>
</html>
