<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body class="body">
    <%-include('../partials/header.ejs')%>

<main>

<h1 class="title-font space center"> Cargá tu Producto </h1>
<div id= "errores-prod">
    <ul></ul>
</div>

<!--nombre del producto-->        

<form action="/products/create" method="POST" id= "product-form" enctype="multipart/form-data"> <!--  Agregar enctype="multipart/form-data"-->
     <div class="center space"> 
        <label for="title" class="rob-14">Nombre del Producto</label>
        <input type="text" name="title" id="title"  class="nombre-prod nombre-size wdth-bar padding-text" value="<%= data.title  %>">
     </div>  
     <% if (errors.title != undefined){ %>
        <div class="center space"><%= errors.title.msg  %> </div>
        <% }%>
     

<!-- / nombre del producto-->

<!--descripcion-->

    <div class="center space"> 
        <label for="description">Descripción:</label>
        
        <textarea name="description" id="description" type= "text"><%= data.description  %></textarea>
    </div > 
    <% if (errors.description != undefined){ %>
        <div class="center space"><%= errors.description.msg  %> </div>
        <% }%>


      <!--talles-->
<div class = "center space rob-18"> 
        <label for="size">Talle</label>
    
        <%- include('../select.ejs',{
        name: 'size',
        options:[ 
        {value : "xs", text : "XS"},
        {value : "s", text : "S"},
        {value : "m", text : "M"},
        {value : "l", text : "L"},
        {value : "xl", text : "XL"},
        {value : "xxl", text : "XXL"}]
        }) %> 
    </div>
</div>  
<% if (errors.size != undefined){ %>
    <div class="center space"><%= errors.size.msg  %> </div>
    <% }%>


    <!--/talles-->
   
       

<!--precio del producto-->
    <div class="center space"> 
        <label for="price">Precio:</label>
        <input type="text" name="price" id="price"  class="nombre-size" value="<%= data.price  %>">
    </div> 
    <% if (errors.price != undefined){ %>
        <div class="center space"><%= errors.price.msg  %> </div>
        <% }%>
    

    <!--/ precio del producto-->

    <!--Stock-->
    <div class="center space"> 
        <label for="stock">Stock</label>
        <input type="text" name="stock" id="stock" class="nombre-size" value="<%= data.stock  %>">

    </div> 
    <% if (errors.stock != undefined){ %>
        <div class="center space"><%= errors.stock.msg  %> </div>
        <% }%>
    
        <!--/Stock-->
    
   
  
    <!--carga de imagenes-->

        <div class ="center space rob-18"><label for="image"> Imagen </label></div>
        <div class="center space"><input type="file" name="image" id="image" class=""></div>
        <% if (errors.image != undefined){ %>
            <div class="center space"><%= errors.image.msg  %> </div>
            <% }%>
  
    <!--/ carga imagenes-->



    <!--boton enviar-->
    <div  class="center space">
        <button type="submit" class=" button-send">Guardar</button>
    </div>
    <!--fin boton enviar-->
    


</form>
  
        
         
    </main>
   
   

    </script>
</body>
</html>
