<!DOCTYPE html>
<html lang="en">
	<%-include('../partials/head.ejs')%>
<body>
	<%-include('../partials/header.ejs')%>
	
<div class="flex-d">
	<p class="titles">Listado de Productos</p>
	<% products.forEach(function(product){ %> 
	<div class="bg-green">
		<a href="/products/<%= product.id %>">
		<img src="/images/products/blusa-1.jpeg" alt="" class="bg-red">
		<p class="price"><%=product.name  %> </p>
		<p class="price">$<%= product.price %> </p>

	</a>
	</div>
<% }) %>
</div> 
<%-include('../partials/footer.ejs')%>
</body>
</html>